*{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    padding: 0;
    
}
html {
    background-color: rgb(246, 219, 246)
}

button, select, input {
    
    text-indent: 20px;
    background-color: rgb(212, 215, 250);
    width: 300px;
    height: 40px;
    
}
button{
    cursor: pointer;
}
body {
    display: flex;
    justify-content: center;
}


